<mat-nav-list class="dark-foreground">
  <a href="https://keep.google.com/" mat-list-item (click)="openLink($event)">
    <span matListItemTitle>Vector</span>
    <span matLine>Create New</span>
  </a>

  <a href="https://docs.google.com/" mat-list-item (click)="openLink($event)">
    <span matListItemTitle>GeoJSON</span>
    <span matLine>Upload from Disk</span>
  </a>

  <a href="https://plus.google.com/" mat-list-item (click)="openLink($event)">
    <span matListItemTitle>OGC-Service</span>
    <span matLine>Add Remote Service</span>
  </a>

</mat-nav-list>
