<mat-nav-list class="dark-foreground">
  <a href="https://keep.google.com/" mat-list-item (click)="openLink($event)">
    <span matListItemTitle>Vector</span>
    <span matLine>Create New</span>
  </a>

  <input type="file" class="file-input"
         (change)="onFileSelected($event)" #fileUpload>

  <a mat-list-item (click)="fileUpload.click()">
    <span matListItemTitle>GeoJSON</span>
    <span matLine>Upload from Disk</span>
  </a>

  <a href="https://plus.google.com/" mat-list-item (click)="openLink($event)">
    <span matListItemTitle>OGC-Service</span>
    <span matLine>Add Remote Service</span>
  </a>

  <a mat-list-item (click)="addBasemap()">
    <span matListItemTitle>OpenStreetMap</span>
    <span matLine>Add Basemap</span>
  </a>

</mat-nav-list>
