<app-table-tools></app-table-tools>
<div class="feature-table-container">

  <div *ngIf="!dataSource.hasData">No table available</div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table dark-foreground">

    <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
      <th mat-header-cell *matHeaderCellDef>{{column}}</th>
      <td mat-cell *matCellDef="let row">{{row.get(column)}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row class="row" *matRowDef="let row; columns: displayedColumns;" (mouseenter)="addHighlight(row)" (mouseleave)="removeHighlight(row)"></tr>
  </table>
</div>
