<div class="wrapper">
  <div class="header">
    <app-toolbar></app-toolbar>
  </div>
  <section class="content">
    <div class="columns">
      <main class="main" #mainContainer>
        <div class="map-container dark-background" #mapContainer [ngStyle]="!showTable ? {'maxHeight': '100%', 'height': '100%', 'resize': 'none'} : {'resize': 'vertical'}">
          <ng-content select="app-map"></ng-content>
        </div>
        <div [hidden]="!showTable" class="table-container dark-background" id="table-container">
          <ng-content select="app-feature-table"></ng-content>
        </div>
      </main>
      <aside [hidden]="isMobile" class="sidebar-left dark-background" #sidebarLeft>
        <ng-content select="app-layer-list"></ng-content>
      </aside>
      <aside [hidden]="isMobile" class="sidebar-right dark-background" #sidebarRight>
        <div class="sidebar-right-content">
          Information/Tool UI
        </div>
      </aside>
    </div>
  </section>
  <footer class="footer dark-foreground">Footer showing Coordinates</footer>
</div>
