<div class="wrapper">
  <div class="header">
    <app-toolbar></app-toolbar>
  </div>
  <section class="content">
    <div class="columns">
      <main class="main" #mainContainer>
        <div class="map-container" #mapContainer>
          Map
        </div>
        <div class="table-container" id="table-container">
          Table
        </div>
      </main>
      <aside class="sidebar-left" #sidebarLeft>Layers</aside>
      <aside class="sidebar-right" #sidebarRight>
        <div class="sidebar-right-content">
          Information/Tool UI
        </div>
      </aside>
    </div>
  </section>
  <footer class="footer">Footer showing Coordinates</footer>
</div>
